*
  position relative

.container
  display flex !important
  flex-direction column
  flex 1

  {fix-flexbox-grow-on-mobiles}
  @media screen and (max-width: 850px)
    display block !important

.hide
  display none !important

.hide-opacity
  opacity 0 !important
  pointer-events none