.location
  position absolute
  z-index 2
  display flex
  align-items center
  max-width 300px
  cursor pointer

.location-text
  background #546e7a
  color #eeeeee
  border-radius 5px
  padding 7px

  word-break break-word

  -webkit-user-select text
  -moz-user-select text
  -ms-user-select text
  user-select text

.location-menu-item
  transition all .5s