.tag
  position absolute
  z-index 2
  display flex
  align-items center

.tag-text
  background #546e7a
  color #eeeeee
  border-radius 5px
  padding 7px

  -webkit-user-select text
  -moz-user-select text
  -ms-user-select text
  user-select text


//#########################
.tag-123
  top 170px
  left 100px