@import "../flex"

//wrapper for maps and tags
.page-wrap
  display flex
  justify-content center
  flex 1

  {fix-flexbox-grow-on-mobiles}
  @media screen and (max-width: 850px)
    flex-direction column

//common for map && menu
.child-wrap
  border-top 1px solid #455a64
  padding 0
  flex 1 auto

  {fix-flexbox-grow-on-mobiles}

.map-wrap
  overflow hidden
  width 75%
  padding 0
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

  @media screen and (max-width: 850px)
    width 100%
    height 600px

.locations-wrap
  width 25%
  border-left 1px solid #455a64
  overflow auto

  @media screen and (max-width: 850px)
    width 100%
    border-left none
