doctype html
html(lang="ru")
    head
        title Locations on map
        meta(charset="UTF-8")

        <!-- Styles -->
        //link(rel='stylesheet', href='css/css.min.css')
        link(rel='stylesheet', href='material/material.min.css')
        link(rel='stylesheet', href='css/style.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        <!-- Scripts -->
        script(type='text/javascript' src='js/js.min.js')
        script(type='text/javascript' src='material/material.min.js')
    body
        //Dark background layout
        div#dark.mdl-layout__obfuscator.is-visible
        //Loading animation
        div#loader.loader-wrap
            h3 Загрузка
            h3
                span.icon-loading.rotate

        //Page content
        div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header.mdl-layout__header.mdl-color--blue-grey
                div.mdl-layout__header-row
                    span.mdl-layout-title Карта и теги
                    div.mdl-layout-spacer
                    nav.mdl-navigation
                        a.mdl-navigation__link(href='https://vk.me/mireadev') Сделано в MireaDev
            div.mdl-layout__content.container
                div#inputs-wrap.container
                    div.input-fields
                        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.input-tags
                            input#input-tags(type="text", autocomplete="off").mdl-textfield__input
                            label(for="input-tags").mdl-textfield__label Теги через запятую(кофе, птицы, роботы)
                    div.page-wrap
                        div#map-wrap.map-wrap.child-wrap
                            img#map(src='img/map.png').map
                        div.tags-wrap.child-wrap
                            ul#menu.mdl-list



